@charset "UTF-8";
@import 'functions_responsive.scss';
@import 'assets/variables.scss';

@font-face {
  font-family: Yumincho;
  src: url("../assets/plugins/fonts/yumindb.ttf");
}
/*===========
    font-family
    font-family: 'Lora', serif;
    font-family: 'Yumincho';
===========*/
.a-link{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.under-link {
    position: relative;
    width: 100%;

    &::after {
        content: '';
        width: 0%;
        height: .2rem;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 12;
        background-color: $c-main-color;
        transition: all .3s ease;
    }
    &:hover::after{
        width: 100%;
    }
}
.under-background{
    width: 120%;
    height: 100%;
    background-color: #eeeeee;
    right: 0;
    top: 0;
    position: absolute;
    z-index: -2;
}
.obj-decorate{
    width: 100%;
    height: 100%;
    max-height: 22rem;
    img{
        width: 100%;
    }
}
.cmm-button{
    width: 100%;
    height: 100%;
    font-size: 2rem;
    outline: none;
    text-align: left;
    padding-left: 4rem;
    transition: all .5s ease;
    &::after{
        content: '';
        width: 4rem;
        height: .2rem;
        position: absolute;
        right: -1rem;
        top: 50%;
        transform: translateY(-50%);
        transition: all .3s ease;
    }
    &::before{
        content: '';
        position: absolute;
        background-color: transparent;
        left:0;
        top:0;
        transition: all .3s ease;
    }
    @include mobile{
        font-size: 1.4rem;
        padding: 0 2rem;
    }
}
.vision-area{
    width: 100%;
    max-width: 116.5rem;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 1200px){
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
.heading{
    font-family: 'Lora', serif;
    font-size: 11rem;
    color: $c-black2;
    @include ipadpro{
        font-size: 8rem;
    }
    @include mobile{
        font-size: 4rem;
        margin-top: 2rem;
    }
    span{
        font-size: 2rem;
        color: #000;
        display: block;
        @include mobile{
            font-size: 1.4rem;
        }
    }
    small{
        font-size: 6rem;
        @include mobile{
            font-size: 2.4rem;
        }
    }
}

.to-top-button{
    position: fixed;
    bottom: 50rem;
    right: 8rem;
    width: 6rem;
    height: 6rem;
    border: .2rem solid $c-black2;
    overflow: hidden;
    // transition: all .3s ease;
    display: none;
    &::after, &::before{
        content: '';
        position: absolute;
        transition: all .3s ease;
    }
    &::after{
        width: 2rem;
        height: 2rem;
        border-right: .2rem solid $c-black2;
        border-top: .2rem solid $c-black2;
        transform: rotate(-45deg);
        top: 45%;
        left: 30%;
    }
    &::before{
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
        left: -100%;
        z-index: 1
    }
    &:hover{
        background-color: $c-main-color;
        &::after{
            border-color: white;
        }
        &::before{
            left: 150%;
            background-color: white;
        }
        
    }
    &.active{
        display: block;
    }
    @include mobile{
        bottom: 4rem;
        right: 1rem;
    }
}
/*======
    scrollbar
    =======*/

::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: $c-main-color;
}

/*# sourceMappingURL=common.css.map */