@charset "UTF-8";
@import 'functions_responsive.scss';
@import 'assets/variables.scss';

.d-flex-center{
	display: flex;
	align-items: center;
}
.a-text-none{
	text-decoration: none !important;	
}
.header{
	@extend .d-flex-center;
	justify-content: space-between;
	width: 100%;
	max-width: 160rem;
	height: 10rem;
	background-color: transparent;
	padding: 0 4rem;
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1030;
	&-logo{
		width: 100%;
		max-width: 29.5rem;
		height: 4.5rem;
		position: relative;
		border: .1rem solid $c-main-color;
		background-color: $c-main-color;
		a{
			// position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			text-align: center;
			padding-top: .1rem;
			letter-spacing: .5rem;
			text-decoration: none;
			font-size: 4rem;
			font-weight: bold;
			color: white;
			
		}
	}
	span:nth-of-type(1){
		font-size: 1.6rem;
		text-transform: uppercase;
		font-weight: bold;
		color: $c-black2;
		margin-left: 2.5rem;
	}
	&-menu{
		@extend .d-flex-center;
		margin-left: auto;
		h3{
			margin: 0 2.2rem;
			a{
				text-transform: uppercase;
				color:$c-black2;
				font-weight: bold;
				font-size: 1.4rem;
			}
		}
		.header-button{
			width: 100%;
			max-width: 12rem;
			height: 4rem;
			@extend .d-flex-center;
			justify-content: space-between;
			padding: 0 2rem;
			background-color: #005dbb;
			color: white;
			text-transform: uppercase;
			font-size: 1.4rem;
			font-weight: bold;
			margin: .5rem;
			letter-spacing: .2rem;
			i{
				margin-left: .2rem;
				font-size: 1.2rem;
			}
		}
	}
}
.btn-checked{
	position: relative;
	&::after, &::before{
		content: '';
	}
	&::after{
		width: 1.2rem;
		height: 1.2rem;
		border: .1rem solid white;
		margin-left: .2rem;
	}
	&::before{
		position: absolute;
		right: 1.8rem;
		top: 1.3rem;
		bottom: 0;
		width: 1.2rem;
		height: .7rem;
		border-left: .2rem solid white;
		border-bottom: .2rem solid white;
		transform: rotate(-45deg);
	}
}

.hambuger-button{
	width: 4rem;
	height: 4rem;
	position: relative;
	display: none;
	outline: none;
	border: none;
	background-color: transparent;
	span{
		width: 100%;
		height: .3rem;
		background-color: $c-main-color;
		position: absolute;
		left:0;
		right:0;
		transition: all .4s ease;
	}
	span:nth-child(1){
		top: 0;
	}
	span:nth-child(2){
		transform: translateY(-.1rem);
	}
	span:nth-child(3){
		bottom: 0;
	}
	&.active{
		span:nth-child(1){
			transform: rotate(45deg);
			top: 1.8rem;
		}
		span:nth-child(2){
			opacity: 0;
		}
		span:nth-child(3){
			transform: rotate(-45deg);
			bottom: 1.8rem;
		}
	}
	@include ipadpro{
		display: block;
	}
}
