/* @font-face {*/
/*   font-family: Yumincho;*/
/*   src: url("../assets/plugins/fonts/yumindb.ttf");*/
/* }*/
/*===========
	font-family
	font-family: 'Lora', serif;
	font-family: 'Yumincho';
===========*/
/*===========
	mv section
===========*/
.mv {
  width: 100%;
  position: relative;
}
.mv-slick {
  width: 100%;
  max-height: 90rem;
  overflow: hidden;
  margin-bottom: 0;
  /* background-color: #d2d3d4;*/
  background-image: -o-linear-gradient(left, #d8dcdd, #ecedee);
  background-image: -webkit-gradient(linear, left top, right top, from(#d8dcdd), to(#ecedee));
  background-image: linear-gradient(to right, #d8dcdd, #ecedee);
}
@media screen and (max-width: 768px) {
  .mv-slick {
    height: 40rem;
  }
}
@media screen and (max-width: 768px) {
  .mv-slick img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.mv-slick .slick-list, .mv-slick .slick-list .slick-track {
  height: 100%;
}
.mv-slick .slick-dots {
  width: auto;
  right: 4rem;
  bottom: 0;
  top: 0;
  margin-top: 20%;
}
.mv-slick .slick-dots li {
  display: block;
  margin: 0.5rem 0;
  width: 0.4rem;
  height: 5rem;
}
.mv-slick .slick-dots li button {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #eff1f1;
}
.mv-slick .slick-dots li button::before {
  display: none;
}
.mv-slick .slick-dots .slick-active button {
  background-color: white;
}
.mv-container {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .mv-container {
    left: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.mv-container span {
  font-family: "Lora", serif;
  font-size: 3.4rem;
  color: white;
}
@media screen and (max-width: 768px) {
  .mv-container span {
    font-size: 1.4rem;
  }
}
.mv-container h2 {
  font-family: "Yumincho";
  font-size: 6rem;
  color: #1f1f1f;
  margin-top: 2.5rem;
  margin-bottom: 5.5rem;
}
@media screen and (max-width: 768px) {
  .mv-container h2 {
    font-size: 2.5rem;
    margin: 2rem 0;
  }
}
.mv-container .rect-button {
  outline: none;
  border: 0.1rem solid white;
  background-color: white;
  width: 40rem;
  height: 8rem;
  color: #0c0c70;
  text-transform: uppercase;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 3rem;
  position: relative;
  padding: 0 4rem;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mv-container .rect-button::after, .mv-container .rect-button::before {
  content: "";
  width: 2rem;
  height: 0.2rem;
  position: absolute;
  right: 4rem;
  background-color: #0c0c70;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .mv-container .rect-button::after, .mv-container .rect-button::before {
    right: 2rem;
  }
}
.mv-container .rect-button::before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.mv-container .rect-button:hover {
  color: white;
  background-color: #0c0c70;
}
.mv-container .rect-button:hover::before, .mv-container .rect-button:hover::after {
  background-color: white;
}
.mv-container .rect-button:hover::before {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.mv-container .rect-button:hover::after {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
@media screen and (max-width: 768px) {
  .mv-container .rect-button {
    width: 20rem;
    height: 4rem;
    padding: 0 2rem;
    margin: 0;
    font-size: 1.6rem;
  }
}

/*===========
	special css
===========*/
.special .container {
  position: relative;
}
.special-bg {
  width: 100%;
  position: relative;
  max-width: 90rem;
  max-height: 50rem;
  top: -3rem;
  z-index: -1;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .special-bg {
    top: 0;
  }
}
.special-bg::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.special-training {
  position: absolute;
  width: 100%;
  max-width: 40rem;
  right: 2rem;
  bottom: 10rem;
}
@media screen and (max-width: 768px) {
  .special-training {
    max-width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
    margin: 1rem 0;
    padding: 0 2rem;
  }
}
.special-training span {
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 0.1rem;
}
.special-training .cmm-button {
  height: 8rem;
  background-color: #0c0c70;
  color: white;
  margin-top: 2.5rem;
  position: relative;
  outline: none;
  border: 0.1rem solid #0c0c70;
}
@media screen and (max-width: 768px) {
  .special-training .cmm-button {
    height: 6rem;
  }
}
.special-training .cmm-button::after {
  background-color: white;
}
.special-training .cmm-button::before {
  width: 10%;
  height: 100%;
  -webkit-transform: skew(-45deg) translateX(100%);
  -ms-transform: skew(-45deg) translateX(100%);
  transform: skew(-45deg) translateX(100%);
}
.special-training .cmm-button:hover {
  background-color: white;
  color: #0c0c70;
}
.special-training .cmm-button:hover::after {
  background-color: #0c0c70;
  right: 1rem;
}
.special-training .cmm-button:hover::before {
  background-color: #0c0c70;
  left: 75%;
  opacity: 0;
}
.special-set2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .special-set2 {
    margin-top: 4rem;
  }
}
.special-set2__item {
  width: 100%;
  max-width: 50%;
  background-color: #1f1f1f;
  position: relative;
}
@media screen and (max-width: 768px) {
  .special-set2__item {
    max-width: 100%;
    margin: 1rem 0;
    height: auto;
  }
}
.special-set2__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .special-set2__item img {
    height: auto;
  }
}
.special-set2__item span {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  color: white;
  font-size: 2.4rem;
  text-align: center;
  -webkit-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .special-set2__item span {
    font-size: 1.4rem;
  }
}
.special-set2__item a {
  text-decoration: none;
  cursor: pointer;
  z-index: 10;
}
.special-set2__item a, .special-set2__item::after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}
.special-set2__item::after {
  content: "";
  background-color: rgba(39, 73, 160, 0.8);
}
.special-set2__item.active::after {
  background-color: transparent;
}
.special-set2__item:hover::after {
  right: 100%;
  opacity: 0;
}

/*===========
	about css
===========*/
.about {
  padding-top: 12rem;
  padding-bottom: 9rem;
  border-bottom: 0.1rem solid #f1f1f1;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .about {
    padding-top: 2rem;
  }
}
.about .under-background {
  max-height: 105rem;
  -webkit-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
}
@media screen and (max-width: 768px) {
  .about .under-background {
    width: 150%;
    max-height: 90rem;
  }
}
.about .heading {
  position: relative;
  z-index: 12;
}

.about-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  position: relative;
  top: -3rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .about-box {
    top: 0;
    justify-content: space-around;
    margin-top: 2rem;
  }
}
.about-box__item {
  width: 100%;
  max-width: 26.5rem;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .about-box__item {
    margin: 1rem 0;
  }
}
@media screen and (max-width: 768px) {
  .about-box__item {
    margin: 1rem 0;
  }
  .about-box__item:not(:last-of-type) {
    margin-right: 0rem;
  }
}
.about-box__item:hover .about-box__img img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.about-box__item:hover h3 {
  color: white;
}
.about-box__item:hover h3::after {
  left: 120%;
}
.about-box__item:hover h3::before {
  width: 100%;
  opacity: 1;
}
.about-box__img {
  width: 100%;
  height: 26.5rem;
  overflow: hidden;
}
.about-box__img img {
  height: 100%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.about-box h3 {
  font-size: 2rem;
  color: #1f1f1f;
  width: 100%;
  height: 7.5rem;
  line-height: 7.5rem;
  text-align: center;
  background-color: white;
  position: relative;
  overflow: hidden;
  z-index: 12;
}
.about-box h3::after, .about-box h3::before {
  content: "";
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.about-box h3::after {
  width: 10%;
  transition: all 1s ease;
  background-color: rgba(39, 73, 160, 0.5);
  transform: skew(-45deg);
  left: -30%;
}
.about-box h3::before {
  left: 0;
  width: 0%;
  transition: all 0.3s ease;
  opacity: 0;
  background-color: #0c0c70;
}

/*===========
	people & work
===========*/
.people {
  position: relative;
  overflow: hidden;
}
.people .under-background {
  max-height: 28rem;
  -webkit-transform: rotate(-8deg) translate(2%, -99%);
  -ms-transform: rotate(-8deg) translate(2%, -99%);
  transform: rotate(-8deg) translate(2%, -99%);
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
}
@media screen and (max-width: 768px) {
  .people .under-background {
    transform: rotate(-8deg) translate(10%, -99%);
  }
}
.people-onview {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 6rem;
}
@media screen and (max-width: 1024px) {
  .people-onview {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .people-onview {
    flex-direction: column-reverse;
    margin-top: 2rem;
  }
}
.people-underview {
  position: absolute;
  width: 100%;
  height: 52rem;
  bottom: 0;
  z-index: -12;
}
.people-underview .slick-list {
  height: 100%;
}
.people-underview .slick-list .slick-track {
  height: 100%;
}
.people-underview__item {
  height: 100%;
  margin: 0 4rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .people-underview__item {
    min-width: 0;
  }
}
.people-underview__item img {
  height: 100%;
}
.people-underview__item.slick-current::after {
  content: "";
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  position: absolute;
}
.people-underview::after {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(12, 12, 112, 0.8)), to(rgba(39, 73, 160, 0.8)));
  background-image: -o-linear-gradient(left, rgba(12, 12, 112, 0.8), rgba(39, 73, 160, 0.8));
  background-image: linear-gradient(to right, rgba(12, 12, 112, 0.8), rgba(39, 73, 160, 0.8));
}
@media screen and (max-width: 768px) {
  .people-underview::after {
    background-image: linear-gradient(to right, #0c0c70, #2749a0);
  }
}
.people-wrap {
  width: 100%;
  max-width: 42rem;
  margin-bottom: 5rem;
  margin-right: 2rem;
}
@media screen and (max-width: 768px) {
  .people-wrap {
    max-width: 100%;
    margin: 0;
    padding: 2rem;
  }
}
.people-wrap span {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  line-height: 1.5;
  color: white;
}
.people-wrap .cmm-button {
  max-width: 40rem;
  max-height: 8rem;
  margin-top: 3rem;
  background-color: white;
  color: #2749a0;
  border: 0.1rem solid white;
  line-height: 8.2rem;
  position: relative;
}
.people-wrap .cmm-button::after {
  background-color: #2749a0;
}
.people-wrap .cmm-button::before {
  width: 10%;
  height: 100%;
  -webkit-transform: skew(-45deg) translateX(100%);
  -ms-transform: skew(-45deg) translateX(100%);
  transform: skew(-45deg) translateX(100%);
}
.people-wrap .cmm-button:hover {
  background-color: #0c0c70;
  color: white;
}
.people-wrap .cmm-button:hover::after {
  background-color: white;
  right: 1rem;
}
.people-wrap .cmm-button:hover::before {
  background-color: #0c0c70;
  left: 75%;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .people-wrap .cmm-button {
    height: 6rem;
    line-height: 6rem;
  }
}

.people-slick {
  width: 100%;
  max-width: 61rem;
  height: 61rem;
  background-color: #f7f7f7;
}
@media screen and (max-width: 768px) {
  .people-slick {
    height: 40rem;
  }
}
.people-slick .slick-list {
  height: 100%;
}
.people-slick .slick-list .slick-track {
  height: 100%;
}
.people-slick .slick__item {
  width: 100%;
  height: 100%;
  position: relative;
}
.people-slick .slick__item .people__img {
  width: 100%;
  height: 100%;
}
.people-slick .slick__item .people__img img {
  margin: auto;
  height: 100%;
}
.people-slick .slick__item .top-right-text {
  position: absolute;
  right: 6rem;
  top: 6rem;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .people-slick .slick__item .top-right-text {
    right: 1rem;
    top: 2rem;
  }
}
.people-slick .slick__item .top-right-text span {
  font-size: 2.8rem;
  color: #2749a0;
  font-family: "Yumincho";
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  .people-slick .slick__item .top-right-text span {
    font-size: 1.4rem;
  }
}
.people-slick .slick__item .top-right-text span:nth-of-type(1) {
  margin-top: 3rem;
}
.people-slick .slick__item .bottom-left-text {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
}
.people-slick .slick__item .bottom-left-text p {
  font-size: 1.4rem;
  color: #1f1f1f;
  font-weight: bold;
  display: block;
}
.people-slick .slick__item .bottom-left-text p span {
  margin-right: 1.2rem;
}
.people-slick .slickNext, .people-slick .slickPrev {
  width: 4.5rem;
  height: 4.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  z-index: 12;
  overflow: hidden;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.people-slick .slickNext::after, .people-slick .slickPrev::after {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  border-top: 0.2rem solid white;
  border-right: 0.2rem solid white;
  top: 0.9rem;
  position: absolute;
}
@media screen and (max-width: 1024px) {
  .people-slick .slickNext::after, .people-slick .slickPrev::after {
    border-color: #1f1f1f;
  }
}
.people-slick .slickNext {
  right: -5rem;
}
@media screen and (max-width: 1024px) {
  .people-slick .slickNext {
    right: 1.2rem;
  }
}
.people-slick .slickPrev {
  left: -5rem;
}
@media screen and (max-width: 1024px) {
  .people-slick .slickPrev {
    left: 1.2rem;
  }
}
.people-slick .slickNext::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 1.5rem;
}
.people-slick .slickPrev::after {
  left: 1.5rem;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.house-touring {
  background-image: url(../images/img_sect_01.jpg);
  height: 36rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0 2rem;
}
@media screen and (max-width: 768px) {
  .house-touring {
    height: 20rem;
  }
}
.house-touring .cmm-button {
  max-width: 40rem;
  max-height: 8rem;
  background-color: #0c0c70;
  color: white;
  border: 0.1rem solid #0c0c70;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 8.2rem;
}
.house-touring .cmm-button::after {
  background-color: white;
}
.house-touring .cmm-button::before {
  width: 10%;
  height: 100%;
  -webkit-transform: skew(-45deg) translateX(100%);
  -ms-transform: skew(-45deg) translateX(100%);
  transform: skew(-45deg) translateX(100%);
}
.house-touring .cmm-button:hover {
  background-color: white;
  color: #0c0c70;
}
.house-touring .cmm-button:hover::after {
  background-color: #0c0c70;
  right: 1rem;
}
.house-touring .cmm-button:hover::before {
  background-color: white;
  left: 75%;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .house-touring .cmm-button {
    max-width: 28rem;
    height: 6rem;
    line-height: 6rem;
  }
}

/*===========
	recruit css
===========*/
.recruit {
  margin-top: 11rem;
}
.recruit-container > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 3rem;
}
@media screen and (max-width: 768px) {
  .recruit-container > div {
    flex-direction: column;
  }
}
.recruit-container > div .cmm-button {
  height: 14rem;
  max-width: 37.5rem;
  background-color: #0c0c70;
  color: white;
  padding-left: 2.5rem;
  border: 0.1rem solid #0c0c70;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .recruit-container > div .cmm-button:not(:last-of-type) {
    margin-right: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .recruit-container > div .cmm-button {
    height: 6rem;
    max-width: 100%;
    margin: 1rem 0;
  }
  .recruit-container > div .cmm-button:not(:last-of-type) {
    margin-right: 0rem;
  }
}
.recruit-container > div .cmm-button::after {
  background-color: white;
}
.recruit-container > div .cmm-button::before {
  width: 10%;
  height: 100%;
  -webkit-transform: skew(-45deg) translateX(100%);
  -ms-transform: skew(-45deg) translateX(100%);
  transform: skew(-45deg) translateX(100%);
}
.recruit-container > div .cmm-button:hover {
  background-color: white;
  color: #0c0c70;
}
.recruit-container > div .cmm-button:hover::after {
  background-color: #0c0c70;
  right: 1rem;
}
.recruit-container > div .cmm-button:hover::before {
  background-color: white;
  left: 50%;
  opacity: 0;
}

/*# sourceMappingURL=main.css.map */
